{% extends "base.html" %}

{% load future %}


{% block subtitle %}Search{% if query %}: {{ query }}{% endif %}{% endblock %}

{% block classes %}search{% endblock %}

{% block content %}
  <h2>Search</h2>

  <form id="search-form-full" action="{% url "haystack_search" %}" method="get" accept-charset="utf-8">
    <ul>
      {{ form.as_ul }}
      <li><button>Search</button>
    </ul>

    {% if query %}
      <h3>Results</h3>

      {% for result in page.object_list %}
        <p><a href="{{ result.url }}">{{ result.title }}</a>
      {% empty %}
        <p>No results found.
      {% endfor %}

      {% if page.has_previous or page.has_next %}
        <div>
          {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
          |
          {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
      {% endif %}
    {% else %}
      <h3>Please enter a search query.</h3>
    {% endif %}
  </form>
{% endblock %}
